---
import Base from "../../layouts/Base.astro";

const projects = [
  {
    title: "NetGPT: Packet Reconstruction AI",
    tech: "Transformers, Networking, PyTorch",
    description:
      "Built a transformer-based AI model for reconstructing missing network packets, improving data reliability and detecting anomalies in real-time network traffic.",
    url: "https://github.com/Amrithesh-Kakkoth/NetGPT",
  },
  {
    title: "Debian CLI Agent",
    tech: "LLM, Qwen2.5, Fine-tuning, Shell, Python",
    description:
      "Developed a lightweight command-line agent that interprets natural language into shell commands using a fine-tuned Qwen2.5-0.5B model, optimized for Debian environments.",
    url: "https://github.com/Amrithesh-Kakkoth/debian-cli-agent",
  },
  {
    title: "DocuMind: RAG with Multi-Vector DB",
    tech: "RAG, LLM, LangChain, FAISS, groq",
    description:
      "Built a retrieval-augmented generation pipeline with multi-vector document evaluation, context refinement, and hallucination reduction, optimized for technical document QA.",
    url: "https://github.com/Amrithesh-Kakkoth/documind",
  },
  {
    title: "SecureVision",
    tech: "Computer Vision, Anomaly Detection, PyTorch",
    description:
      "Designed a secure computer vision pipeline for anomaly detection using spatiotemporal encoding and latent feature monitoring across frames.",
    url: "https://github.com/Amrithesh-Kakkoth/securevision",
  },
];

const title = "Projects";
const description = "My Projects";
---

<Base title={title} description={description}>
  <section>
    <h1 class="mb-8 text-2xl font-medium tracking-tight">Projects</h1>
    <div class="space-y-6">
      {
        projects.map((project, index) => (
          <a
            href={project.url}
            target="_blank"
            rel="noopener noreferrer"
            class="block group hover:opacity-80 transition-opacity duration-200">
            <div class="flex flex-col">
              <div class="w-full flex justify-between items-baseline">
                <span class="text-black dark:text-white font-medium tracking-tight">
                  {project.title}
                </span>
                <span class="text-neutral-600 dark:text-neutral-400 tabular-nums text-sm">
                  {project.tech}
                </span>
              </div>
              <p class="prose prose-neutral dark:prose-invert pt-3">
                {project.description}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Base>
